html{
	margin: 0;
	padding: 0;
}

.new_todo_container{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-item: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-item: center;
}
